ch4-1/ch4-1-hello/target/
ch4-1/ch4-1-gzip/target/
ch4-3/ch4-3-httpclinet/target/
ch4-3/ch4-3-okhttp/target/
ch4-5/ch4-5-provider/target/
ch4-5/ch4-5-model/target/
ch4-5/ch4-5-eureka-server/target/
ch4-5/ch4-5-consumer/target/
